body {
  margin: 0;
  padding: 25px 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #c1c1c1;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.play-area {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
  width: auto;
  background-color: #c1c1c1;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.button {
  background-color: #f44336;
  border-radius: 12px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttom-choice{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  color: black;
}

.button:hover {
  background-color: #e53935;
  cursor: pointer;
}

.player,
.cpu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 70px;
  color: rgb(234, 234, 234);
}

.vs {
  border-radius: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  font-size: 50px;
}

.player-area {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 0, 0);
  height: 300px;
  width: 800px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 1px 0px 11px 0px;
  background-image: radial-gradient(
      circle at 50% 50%,
      rgb(237, 26, 26),
      rgb(240, 210, 58)
    ),
    radial-gradient(circle at 100% 50%, #ddd, rgb(141, 241, 73)),
    radial-gradient(circle at 50% 100%, #ddd, #fff),
    radial-gradient(circle at 0% 50%, #fff, rgb(224, 55, 55));
  background-size: 200% 200%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: moveBackgroundPlayer 10s linear infinite;
}

@keyframes moveBackgroundPlayer {
  from {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  to {
    background-position: 100% 100%, 0 100%, 0 0, 100% 0;
  }
}

.cpu-area {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 800px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 1px 0px 11px 0px;
  background-image: radial-gradient(
      circle at 50% 50%,
      rgb(62, 125, 123),
      rgb(58, 61, 240)
    ),
    radial-gradient(circle at 100% 50%, #ddd, rgb(73, 191, 241)),
    radial-gradient(circle at 50% 100%, #ddd, #fff),
    radial-gradient(circle at 0% 50%, #fff, rgb(55, 55, 224));
  background-size: 200% 200%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: moveBackground 10s linear infinite;
}

.tracker{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes moveBackground {
  from {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  to {
    background-position: 100% 100%, 0 100%, 0 0, 100% 0;
  }
}

@media only screen and (max-width: 767px) {
  .vs {
    display: none;
  }
  h1{
    display: none;
  }
}

.pop-glow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 70px;
  color: rgb(208, 216, 202);
  animation: pop-glow 1s ease-in-out infinite;
}

.pop-glow-win {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 70px;
  color: rgb(136, 244, 53);
  animation: pop-glow 1s ease-in-out infinite;
}

.pop-glow-loose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 70px;
  color: rgb(180, 64, 55);
  animation: pop-glow 1s ease-in-out infinite;
}

@keyframes pop-glow {
  0% {
    transform: scale(1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1.2);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
